@charset "UTF-8";

/*--------- 共通部分 ---------*/
html{
    font-size: 0.625rem;
}

body{
    color: #3c3c3c;
    background-color: rgb(251, 244, 235);
    line-height: 1.7;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    font-family: 'Raleway', sans-serif;
}

*{
    /*ブラウザのデフォルト対策*/
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    margin: auto 10vw;
}

